h1{
    font-weight: 600;
    font-size: 60px;
}

h2{
    font-weight: 600;
    font-size: 50px;

}

h1,h2,h3,h4, p{
    color:white;

}

a {
    color: #ffffff;
}


.margin-p{
    font-size: 17px;
    margin:1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    text-shadow: 1px 1px 25px rgba(31, 31, 31, 0.877);


}

a:hover {
    color:rgb(255, 213, 25);
}


.carousel-inner{
    padding: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.jumbotron {
    background-color: rgba(43, 43, 43, 0.445);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background-color: #ffffff;
    background-image: url(../images/index_bg2.jpg);
    background-repeat: no-repeat;
    background-size: 200% 140%;
}

footer{
    margin-top:7%;
    margin-left: 5%;
}