h1{
    font-weight: 600;
    font-size: 60px;
}

h2{
    font-weight: 600;
    font-size: 50px;

}

h1,h2,h3,h4, p{
    color:white;

}

a {
    color: #b4623d;
}
.margin-p{
    margin:1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    color: black;

}



.carousel-inner{
    padding: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.jumbotron {
    background-color: #6ebff5;
    background-image: url(../images/index_bg2.jpg);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    box-shadow: 2px 3px 10px rgba(145, 145, 145, 0.671);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background-color: #ffffff;
}

footer{
    margin-top:7%;
    margin-left: 5%;
}