
/*Css file: Homepage*/


  @font-face {
    font-family: 'Monserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf) format('woff2');
    
    }
  
@font-face {
font-family: 'Monserrat-Regular';
src: url(../fonts/Montserrat-Regular.ttf) format('woff2');

}

@font-face {
    font-family: 'Monserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf) format('woff2');
    }


@font-face {
    font-family: 'Monserrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf) format('woff2');
    }

/*--- Images ---*/


/*-- Profile-pic --*/

.profile-pic{
    border: solid;
    border-radius: 3%;
    border-width: 3px;
    border-color: white;
}

img{
    margin: 3px;
}

.socialMediaIcon {
    margin: 10px;
    filter: invert(100%);
}


/*-- Background image --*/
/*
@media (min-width: 200px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 300%;
    }
}


@media (min-width: 500px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 300%;
    }
}

@media (min-width: 600px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 200%;
    }
}

@media (min-width: 700px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 150%;
    }
}

@media (min-width: 900px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 110%;
    }
}

*/

body{
    background-color: #f1675b;
    background-image: url(../images/index_bg2.jpg);
    background-repeat: no-repeat;
    background-size: 200% 140%;
}





/*-- Links --*/

/*- Navbar -*/
.color-links{
    color:white;
}

.color-links:hover{
    color:rgb(255, 213, 25);
}

.navbar{
    background-color: #3c3c3b00;
    margin-bottom: 30px;
}

.nav-link{
    font-family: Monserrat-Regular;
    font-size: 15pt;
    margin-left: 15px;
    margin-right: 15px;

}


@media (max-width: 768px) {
    .nav-link{
        font-family: Monserrat-Regular;
        font-size: 12pt;
        margin-left: 5px;
        margin-right: 5px;
    
    }
}
/*- Text Links -*/
a {
    color: #ffffff;
}

a:hover {
    color:rgb(255, 213, 25);
}


.color-link{
    color:rgb(224, 194, 255);
}


/*-- Text --*/

h1, h2, h3, h4, h5, p{
    color:white;
}

/*- Headers -*/
h2, h3, h4, h5{
    margin-bottom: 15px;
    font-family: Monserrat-Regular;
}

h1{
    font-family: Monserrat-SemiBold;
}

h5{
    font-family: Monserrat-Light;
}

.headerInsideDiv{
    margin-bottom: 50px;
}


.headerWithIcon{
    margin: 5px;
    margin-left: 10px;
}
/*- Paragraphs -*/

p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
    font-family: Monserrat-Regular;
}


@media (max-width: 768px) {

    h1, h2, h3, h4, h5{
        margin-bottom: 10px;
    }
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 16pt;
    }
    h3{
        font-size: 14pt;
    }

    h4, h5 {
        font-size: 12pt;
    }

    p {
        font-size: 10pt;
    }

    .headerInsideDiv{
        margin-bottom: 20px;
    }
    
}


/*-- Special Divs --*/

/*- Custom Divs -*/

.contentDiv{
    
    max-width: 100%; /* Ensures the container does not exceed the screen width */
    margin: 0 auto; /* Centers the container */
    padding: 5px; 
    box-sizing: border-box;
    
}



.experienceDiv{

    background-color: rgba(63, 66, 59, 0.299);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .contentDiv {
        width: 900px;
        margin: auto;
        
    }
    
    .experienceDiv {
        
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;

    }
}


.iconWithHeaderDiv{
    display: flex; 
    align-items: center;
    margin-bottom: 5px;
}

/*- Non-custom Divs -*/
.carousel{
    background-color: #00000000;
    border-radius: 15px;
    padding: 25px;
}
.carousel-item{


}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}


iframe{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--- Footer ---*/

footer{
    margin-top:7%;
    margin-left: 5%;
}