h1, h4, h6, p{
    color:#ffffff;
    
}

h1{
    font-weight: 600;
    color: white;
   font-size: 60px;
}


.color-links{
    color:white;
}

.color-links:hover{
    color:rgb(255, 213, 25);
}

.text-phone{
    font-size: 25px;
    font-weight: 600;
    
}
img {
    border: solid;
    border-radius: 3%;
    border-width: 3px;
    border-color: white;
}


@media (min-width: 200px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 300%;
    }
}



@media (min-width: 500px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 300%;
    }
}

@media (min-width: 600px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 200%;
    }
}

@media (min-width: 700px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 150%;
    }
}

@media (min-width: 900px) {
    body {
        background-image: url(../images/index_bg2.jpg);
        background-size: 110%;
    }
}


footer{
    margin-top:7%;
    margin-left: 5%;
}