h1{
    font-weight: 600;
    font-size: 45px;
}

h2{
    font-weight: 600;
    font-size: 37px;

}

h3{
    font-weight: 400;
    font-size: 27px;
}

h4{
    font-weight: 400;
    font-size: 20px;
}

h1, h2, h3, h4, h5, p{
    color:white;

}

a {
    color: #ffffff;
}

a:hover {
    color:rgb(255, 213, 25);
}

.one{
    margin: 5%;
}

img {
    margin: 3px;
}

.color-link{
    color:rgb(248, 67, 61)
}

.jumbotron {
    background-color: rgba(43, 43, 43, 0.445);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background-color: #ffffff;
    background-image: url(../images/index_bg2.jpg);
    background-repeat: no-repeat;
    background-size: 200% 100%;
}

iframe{
    margin-top: 20px;
}

footer{
    margin-top:7%;
    margin-left: 5%;
}